body {
    padding: 0;
    margin: 0;
}

.header {
    display: inline-block;
}

#submit {
    margin: 2% 0 2% 0;
}

table {
    border: 1px solid black;
    margin: auto;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#day {
    font-size: 120%;
}

.table {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 5%;
}

#error {
    padding-top: 10px;
    color: red;
    font-weight: bold;
}

#min {
    min-width: 30px;
}

@media only screen and (max-width: 449px) {
    body {
        text-align: center;
    }

    table {
        width: 90%;
    }

    #submit {
        float:left;
    }
}

@media only screen and (min-width: 450px) {
    .table {
        display: inline-block;
    }

    .header {
        display: block;
    }
}